# NAME ERRORS

In [11]:
# creating a variable
var1 = 'Students of day science secondary school'
print(var1)

Students of day science secondary school

In [12]:
# Pretending to have a name error
print(var11)

NameError: name 'var11' is not defined

In [13]:
print(var1)

Students of day science secondary school

# INTUITIVE LABELING

In [14]:
# Labeling with intuition
a_t = 23
print(a_t)

23

In [15]:
# Intuitive labeling
age_teens = 23
print(age_teens)

23

# STRING

In [19]:
# creating a single character string
var2 = 'Reading'
print(var2)

Reading

In [20]:
# A multiple character string
var3 = 'Reading an English textbook'
print(var3)

Reading an English textbook

In [5]:
# create a variable with double quote
var4 = "Reading an English texbook"
print(var4)

Reading an English texbook

In [7]:
# Pretending to have an error of single quotes while introducing an apostrophe
var5 = 'Reading Musa's English textbook
print(var5)

SyntaxError: invalid syntax (2934041352.py, line 2)

In [12]:
# Correcting error with double quotes
var6 = "Reading Musa's English textbook"
print(var6)

Reading Musa's English textbook

In [13]:
# Introducing a method
var6.upper()

"READING MUSA'S ENGLISH TEXTBOOK"

In [16]:
# Removing the double quotes with print function
print(var6.upper())

READING MUSA'S ENGLISH TEXTBOOK

# INTRODUCING DATA STRUCTURE (LIST)

In [3]:
# Creating a list
lst = ['Nigeria']
print(lst)

['Nigeria']

In [10]:
# Removing the squre brackets and the quotes
lst = ['Nigeria']
lst

['Nigeria']

# ACCESSING AND MODIFYING LISTS

In [50]:
# Creating a different data type
lst1 = ['Nigera', 'School', True, 20, 66]
print(lst1)

['Nigera', 'School', True, 20, 66]

In [15]:
# Creating an empty list
lst = []
lst

[]

In [18]:
# Initialize with a list function
lst = list()
lst

[]

In [35]:
# Access a list
# len function
len(lst1)

5

In [58]:
lst[0]

'Nigera'

In [55]:
lst1[1]

'School'

In [56]:
lst1[2]

True

In [59]:
lst[3]

IndexError: list index out of range

# MODIFY ELEMENTS

In [11]:
# Create a new list
lst2 = ['Aliyu', 'Habib', 'Fatima', 'Abubakar', 'Zainab', 'Ado']

In [12]:
lst2

['Aliyu', 'Habib', 'Fatima', 'Abubakar', 'Zainab', 'Ado']

In [13]:
# Add an element
lst2[0] = 'Auwal'

In [14]:
lst2

['Auwal', 'Habib', 'Fatima', 'Abubakar', 'Zainab', 'Ado']

In [15]:
# Insert an element
lst2.insert(2, 'Maryam')

In [16]:
lst2

['Auwal', 'Habib', 'Maryam', 'Fatima', 'Abubakar', 'Zainab', 'Ado']

In [17]:
# Adding an element - Append
lst2.append('Kaduna')

In [18]:
lst2

['Auwal', 'Habib', 'Maryam', 'Fatima', 'Abubakar', 'Zainab', 'Ado', 'Kaduna']

In [19]:
#Remove an element
lst2.remove('Abubakar')

In [20]:
lst2

['Auwal', 'Habib', 'Maryam', 'Fatima', 'Zainab', 'Ado', 'Kaduna']

In [21]:
# Pop function
pop_lst = lst2.pop()

In [22]:
lst2

['Auwal', 'Habib', 'Maryam', 'Fatima', 'Zainab', 'Ado']

In [23]:
pop_lst

'Kaduna'

In [24]:
# Pop with an index
pop_Auwal = lst2.pop(0)

In [26]:
lst2

['Habib', 'Maryam', 'Fatima', 'Zainab', 'Ado']

In [27]:
pop_Auwal = lst2.pop(3)

In [28]:
lst2

['Habib', 'Maryam', 'Fatima', 'Ado']