# WORKING WITH LISTS

In [46]:
# Create a lists
lst1 = ['Ishaq', 'Muhammad', 'Ibrahim', 'Sufyan', 'Basirat']

In [47]:
lst1

['Ishaq', 'Muhammad', 'Ibrahim', 'Sufyan', 'Basirat']

In [48]:
# Create a for loop
for name in lst1:
    print(name)

Ishaq
Muhammad
Ibrahim
Sufyan
Basirat

In [12]:
# Introducing F string to work on every element in the lists
for name in lst1:
    print(f"{name}, Thank you for coming to visit me in my home town")

Ishaq, Thank you for coming to visit me in my home town
Muhammad, Thank you for coming to visit me in my home town
Ibrahim, Thank you for coming to visit me in my home town
Sufyan, Thank you for coming to visit me in my home town
Basirat, Thank you for coming to visit me in my home town

In [49]:
# Doing something outside the block using print function
for name in lst1:
    print(f"{name}, Thank you for coming to visit me in my home town")
print("Thank you every one, i am really greatful and i love all of you")

Ishaq, Thank you for coming to visit me in my home town
Muhammad, Thank you for coming to visit me in my home town
Ibrahim, Thank you for coming to visit me in my home town
Sufyan, Thank you for coming to visit me in my home town
Basirat, Thank you for coming to visit me in my home town
Thank you every one, i am really greatful and i love all of you

# NUMBERS

In [50]:
# Numbers: Integers
var1 = 23

In [51]:
type(var1)

int

In [52]:
var1 * 2

46

In [53]:
# Floats
var2 = 46.7

In [54]:
type(var2)

float

In [55]:
var1 ** 2

529

In [56]:
var2 / 2

23.35

In [57]:
type(var2)

float

# COMMENTS (SAMPLES)

In [58]:
# Here are prime numbers
# Writing an odd number
# Introducing of 20

# ORGANIZING LISTS (USING SORT METHOD)

In [9]:
# Create a lists
lst = ['Ishaq', 'Muhammad', 'Ibrahim', 'Sufyan', 'Basirat']

In [10]:
lst

['Ishaq', 'Muhammad', 'Ibrahim', 'Sufyan', 'Basirat']

In [11]:
# Using sort() method
# Copy the list
lst_copy = lst.copy()

In [12]:
lst_copy

['Ishaq', 'Muhammad', 'Ibrahim', 'Sufyan', 'Basirat']

In [13]:
# Sorting in alphabetiacal order
lst_copy.sort()

In [14]:
lst_copy

['Basirat', 'Ibrahim', 'Ishaq', 'Muhammad', 'Sufyan']

In [15]:
# Sort temporarily
# sorted method
sorted(lst)

['Basirat', 'Ibrahim', 'Ishaq', 'Muhammad', 'Sufyan']

In [16]:
lst

['Ishaq', 'Muhammad', 'Ibrahim', 'Sufyan', 'Basirat']

In [17]:
# everse order
lst_copy

['Basirat', 'Ibrahim', 'Ishaq', 'Muhammad', 'Sufyan']

In [18]:
# Reverse order
lst_copy.sort(reverse=True)

In [19]:
lst_copy

['Sufyan', 'Muhammad', 'Ishaq', 'Ibrahim', 'Basirat']

In [20]:
# Reverse order temporarily
lst

['Ishaq', 'Muhammad', 'Ibrahim', 'Sufyan', 'Basirat']

In [21]:
sorted(lst,reverse=True)

['Sufyan', 'Muhammad', 'Ishaq', 'Ibrahim', 'Basirat']

In [22]:
lst

['Ishaq', 'Muhammad', 'Ibrahim', 'Sufyan', 'Basirat']

In [23]:
# len function
len(lst)

5

In [27]:
# Accessing with indexing
lst[4]

'Basirat'

# INDENTATION ERRORS

In [30]:
# indentation errors
for name in lst:
print(f"{name}, Thank you for coming to visit me in my home town")

IndentationError: expected an indented block after 'for' statement on line 2 (2091157175.py, line 3)

In [35]:
# Correcting the error
for name in lst:
    print(f"{name}, Thank you for coming to visit me in my home town")

Ishaq, Thank you for coming to visit me in my home town
Muhammad, Thank you for coming to visit me in my home town
Ibrahim, Thank you for coming to visit me in my home town
Sufyan, Thank you for coming to visit me in my home town
Basirat, Thank you for coming to visit me in my home town

In [34]:
# Creating an unnecessary indentation
for name in lst:
    print(f"{name}, Thank you for coming to visit me in my home town")
    print("Thank you every one, i am really greatful and i love all of you")

Ishaq, Thank you for coming to visit me in my home town
Thank you every one, i am really greatful and i love all of you
Muhammad, Thank you for coming to visit me in my home town
Thank you every one, i am really greatful and i love all of you
Ibrahim, Thank you for coming to visit me in my home town
Thank you every one, i am really greatful and i love all of you
Sufyan, Thank you for coming to visit me in my home town
Thank you every one, i am really greatful and i love all of you
Basirat, Thank you for coming to visit me in my home town
Thank you every one, i am really greatful and i love all of you

In [36]:
# Correcting the unnecessary indentation
for name in lst:
    print(f"{name}, Thank you for coming to visit me in my home town")
print("Thank you every one, i am really greatful and i love all of you")

Ishaq, Thank you for coming to visit me in my home town
Muhammad, Thank you for coming to visit me in my home town
Ibrahim, Thank you for coming to visit me in my home town
Sufyan, Thank you for coming to visit me in my home town
Basirat, Thank you for coming to visit me in my home town
Thank you every one, i am really greatful and i love all of you

# NUMERICAL LISTS

In [38]:
# The range function
range(0,9)

range(0, 9)

In [39]:
# Range from 0 to 9
for n in range(0,9):
    print(n)

0
1
2
3
4
5
6
7
8

In [40]:
# Adding a list function
for n in range(0,10):
    print(n)

0
1
2
3
4
5
6
7
8
9

In [43]:
# Adding a list function
for n in list(range(0,10)):
    print(n)

0
1
2
3
4
5
6
7
8
9

In [49]:
# Taking away the for loop and and the 'n'
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
lst2 = list(range(0,10))

In [51]:
lst2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# LISTS CIMPREHENSION

In [ ]:
# Creating a list with list comprehension
square = []
for n in range(0,10):
    squares = n ** 2
    square = square.append(squares)

In [78]:
squares = [value ** 2 for value in range(2,20)]

In [83]:
print(squares)

[4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

# WORKING WITH PART OF A LIST(SLICING)

In [81]:
# Slice a list
print(squares)

[4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [84]:
squares[0:5]

[4, 9, 16, 25, 36]

In [87]:
# Looping and a slice
for num in squares[:3]:
    print(num ** 2)

16
81
256

In [88]:
 # Copy of list
squares_copy = squares[:]

In [90]:
print(squares_copy)

[4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

# STYLING YOUR CODE

In [ ]:
# Indentation
foo = long_function_name(var_one, var_two,
                        var_three, var_four)

In [ ]:
# Tabs and Spaces
# Maximum Lines
# Blank Lines
var = 'Integer'

In [ ]:
# Import statements
import statistics
import maths

In [ ]:
# Not recommended
import statistics, maths
shoul be written in an individual lines

# SECOND DATA STRUCTURES (TUPLES)

In [92]:
# Creating a tuple
print(squares)

[4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [94]:
squares.insert(2, 8)

In [96]:
print(squares)

[4, 9, 8, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [97]:
# Tuples
squares_t = (4, 9, 8, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361)

In [98]:
type(squares)

list

In [99]:
type(squares_t)

tuple

In [ ]:
# Inmutability of tuple

In [101]:
# Edit tuple
squares_t[2] = 16

TypeError: 'tuple' object does not support item assignment

In [102]:
# Loop through a tuple
for n in squares_t:
    print(n)

4
9
8
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361

In [103]:
# But we can over write a tupl (e.g)
squares_t = (5, 7, 0, 33)

In [104]:
squares_t

(5, 7, 0, 33)